.s{
    color: rgb(240, 51, 45);
}
.bg-contact{
    background-image: linear-gradient(80deg,rgba(170, 0, 62, 0.952),rgba(20, 11, 53, 0.945),rgba(10, 0, 51, 0.945));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}